<!DOCTYPE html>
<html>
<head>
  <title>Sibyl</title>
  <%= stylesheet_link_tag    "sibyl/application", media: "all" %>
  <%= javascript_include_tag "sibyl/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
