/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.card-block:first-child {
  padding-bottom: 0;
}

.close-panel {
  position: absolute;
  top: -16px;
  left: -16px;
}
