/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.card-block {
  overflow: hidden;
}

.card-block:first-child {
  padding-bottom: 0;
}

.close-panel, .export-panel {
  padding-left: 0;
  padding-right: 0;
  width: 32px;
  text-align: center;
}

.close-panel {
  position: absolute;
  top: -16px;
  left: -16px;
}

.export-panel {
  position: absolute;
  bottom: -16px;
  right: -16px;
}
