<div class="card">
  <div class="card-block">
    <h4 class="card-title" data-sb-panel-output="title"></h4>
    <h6 class="card-subtitle text-muted" data-sb-panel-output="subtitle"></h6>
  </div>
  <div class="card-block">
    <p class="card-text" data-sb-panel-output="text"></p>
  </div>
</div>
