<div class="card" data-sb-panelx="">
  <div class="card-block">
    <h4 class="card-title" data-sb-panelx-output="title"></h4>
    <h6 class="card-subtitle text-muted" data-sb-panelx-output="subtitle"></h6>
  </div>
  <div class="card-block content">
    <p class="card-text display-4" data-sb-panelx-output="text"></p>
  </div>
</div>
