<% i ||= 0 %>
<div class="filter-wrapper">
  <div class="row">
    <fieldset class="dropdown-item pull-xs-left">
      <label><small>Property (plain, comma, list)</small></label>
      <div class="input-group">
        <input class="form-control form-control-sm" type="text" name="funnel[][filters][][property]" value="<%= params[:funnel]&.dig(0, :filters, i, :property) %>" placeholder="(Property target)">
        <div class="input-group-btn">
          <button type="button" class="btn btn-danger btn-sm" onclick="removeFilter(event, $(this)); return false">x</button>
        </div>
      </div>
    </fieldset>
  </div>
  <div class="row">
    <fieldset class="dropdown-item">
      <label><small>Filter | Value ("string" / number)</small></label>
      <div class="input-group">
        <div class="input-group-btn">
          <%= select_tag "funnel[][filters][][filter]", options_for_select({ "Equal to": "eq", "Not eql": "ne", "Greater": "gt", "Grtr or eql": "gte", "Less": "lt", "Less or eql": "lte", "Contains": "contains", "Like": "like", "Not like": "not_like" }, params[:funnel]&.dig(0, :filters, i, :filter)), class: "form-control form-control-sm c-select" %>
        </div>
        <input class="form-control form-control-sm" type="text" name="funnel[][filters][][value]" value="<%= params[:funnel]&.dig(0, :filters, i, :value) %>" placeholder='(Filter property value)'>
      </div>
    </fieldset>
  </div>
  <hr>
</div>
